.recentActivities {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 115px;
}
.frameChild {
  align-self: stretch;
  width: 320px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--sand);
  display: none;
}
.xxxXxxxxx {
  min-width: 95px;
}
.inTransit,
.status,
.xxxXxxxxx {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.status {
  font-weight: 200;
  min-width: 36px;
}
.inTransit {
  min-width: 50px;
}
.inTransitStatusX {
  justify-content: flex-start;
  gap: var(--gap-10xs);
  font-size: var(--font-size-xs);
}
.frameWrapper,
.inTransitStatusX,
.xxxXxxxxxParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.xxxXxxxxxParent {
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameWrapper {
  justify-content: flex-end;
  padding: 0 0 var(--padding-xl);
}
.bordersContainer {
  height: 115px;
  width: 150px;
  position: relative;
  border-radius: 0 var(--br-11xl) var(--br-11xl) 0;
  background-color: var(--root-chakra);
  min-width: 150px;
  z-index: 1;
}
.rectangleParent {
  align-self: stretch;
  border-radius: var(--br-11xl);
  background-color: var(--sand);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-3xl);
  gap: var(--gap-xl);
}
.recentActivitiesParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-smi);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.linkStyle {
  display: block; /* Makes the link a block-level element, which fills the width of its parent */
  width: 100%; /* Full width */
  text-decoration: none; /* Removes underline */
  color: inherit; /* Inherits text color */
}